@include tablet{
    .iconos-nosotros{
        @include grid(3, 2rem);//tres columnas con espacio de 2rem
    }
}



.icono{
    text-align: center;
    img{
        height: 10rem;
        
    }
    h3{
        text-transform: uppercase;
    }
}